
.container {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding:  2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .img {
  padding-left: 2rem;
}
.container .btn {
  padding-right: 2rem;
}
.tesla-logo {
  width: 20rem;
  height: auto;
}
.menu-btn {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  color: #000;
  font-weight: 500;
  border: #000;
  border-radius: 10px;
  background-color: #0000000d;
  backdrop-filter: blur(10px);
}
