.container {
  padding: 5rem 0;
  background-color: #fff;
  width: 90%;
  position: absolute;
  right: 0px;
  top: 0;
  height: 100vh;
}
.close-icon-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.close-icon-div img {
  width: 100px;
  height: auto;
  position: relative;
  right: 0;
  margin-right: 5rem;
}
.pages-links {
  font-size: 3.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-left: 6rem;
  margin-top: 3rem;
}
.pages-links a {
  color: #000;
  text-decoration: none;
  padding: 3rem 0;
}