.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  margin-top: 300px;
  color: #fff;
  font-size: 6.5rem;
  font-weight: 500;
  margin-bottom: 0;
}
.sub-heading {
  color: #fff;
  font-size: 3.5rem;
  margin-top: 3rem;
  text-decoration: none;
}